body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  max-width: 100%;
  padding: 20px 20px 8px;
}

#heading {
  padding: 30px 0;
  text-align: center;
  margin: 0 0 28px;
}

hr {
  color: #DADFE1;
  border: none;
  border-top: 1px solid #DADFE1;
}

.form-container {
  margin: 0;
}

.number-row {
  margin: calc(277px/3) auto;
}

#phoneNumber, #select-country {
  width: 80%;
  margin: 30px auto;
  border: 1px solid #BDC3C7;
  border-radius: 4px;
  height: 46px;
  display: block;
  font-size: 17px;
  padding: 5px 15px;
}

#select-country {
  background-color: rgba(243, 243, 243, 0.6);
}

#submitButton {
  display: block;
  width: 80%;
  height: 92px;
  margin: 0 auto calc(277px/3);
  border: none;
  font-size: 17px;
  border-radius: 4px;
  padding: 0 10px;
  background: #03A678;
  color: #fff;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
}

#submitButton:disabled {
  background: rgb(3, 166, 120, 0.6);
}

.app-footer {
  padding: 12px 0 0;
  border-top: 1px solid #DADFE1;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 12px;
  color: #777;
  line-height: 20px;
}

a.footer-link {
  color: #777;
  border-bottom: 1px dashed #777;
  text-decoration: none;
}